@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(75, 75, 89) }
  }
  
  .typing {
    overflow: hidden; 
    border-right: 0.15em solid ; 
     
    
    letter-spacing: 0.15em; 
    animation: typing 5.5s steps(22,end), blink-caret 0.95s step-end infinite;
  }
  